<? if (checkUserIsAuthorized()): ?>
    <div style="margin-bottom: 10px; "> 
        <button type="button" class="btn btn-primary"> 
            <a href="book_add.php" style="color: white"> 
                Добавить 
            </a> 
        </button>
    </div> 
<? endif; ?>

<div class="row"> 
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" name="count">
        <option value="2" <?= ($count == 2) ? 'selected' : '' ?>>2</option>
        <option value="5" <?= ($count == 5) ? 'selected' : '' ?>>5</option>
        <option value="10" <?= ($count == 10) ? 'selected' : '' ?>>10</option>
    </select>
    </div>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Фильтр</span>
    </div>
    <input type="text" name="filter" class="form-control" placeholder="Название книги" aria-label="Username" aria-describedby="basic-addon1" value="<?= $filter; ?>">
    </div>
    <div class="input-group mb-3">
        <button type="button" class="btn btn-primary btn-link">
            <a href="" id="pagination" style="color: white">
                Фильтровать
            </a>
        </button> 
    </div>
</div>

<div>
    <table border='1'>
        <tr>
            <th> ID </th> 
            <th> Название </th> 
            <th> Цена </th> 
            <th> Издатель </th> 
            <th> Количество </th> 
            <th> Авторы </th>
            <? if (checkUserIsAuthorized()): ?>
                <th> Действия <th> 
            <? endif ; ?>
        </tr>

        <? foreach ($books as $book): ?>
            <tr> 
                <td> <?= $book['id'] ?> </td> 
                <td> <?= $book['book_name'] ?> </td> 
                <td> <?= $book['book_price'] ?> </td> 
                <td> <?= $book['publisher_name'] ?> </td> 
                <td> <?= $book['book_quantity'] ?> </td>
                <td> <?= $book['author'] ?> </td> 
                <? if (checkUserIsAuthorized()): ?>
                    <td> 
                        <button> <a href='book_edit.php?id=<?= $book['id']; ?>'> Редактировать </a> </button>  
                        <button class='remove'> <a href='book_delete.php?id=<?= $book['id']; ?>'> Удалить <i class="fas fa-trash-alt"></i></a> </button> 
                    </td> 
                <? endif; ?> 	
            </tr>
        <? endforeach ; ?>
    </table>
</div>