<body class="bg-light">

<!----------------------------------- NAV TOP--------------------------->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0 pr-5" href="#">Форум</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container navbar-collapse offcanvas-collapse p-0" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link pl-4" href="../main.php">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Правила форума</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Пользователи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Архив</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Администрация</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Руководство</a> 
          <a class="dropdown-item" href="#">Модераторы</a>
          <a class="dropdown-item" href="#">Помощь по игре</a>
          <a class="dropdown-item" href="#">Ответы на вопросы</a>
          <a class="dropdown-item" href="#">Контакты</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="bg-white forum-search input-group mr-3">
          <input class="form-control sm-2" type="text" placeholder="поиск ..." aria-label="Search">
          <span class="input-group-btn">
          <button type="button" class="btn btn-default">   
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg></button> 
          </span>
      </div>
    </form>
  </div>
  <button class="btn btn-outline-success my-2 ml-5 my-sm-0" type="submit">Войти</button>
</nav>
<!------------------------/. NAV TOP-->
		