<? if (checkUserIsAuthorized()): ?> 
    <? if ($check_if_defined): ?> 
        <? for ($i = 0; $i < floor ($mark); $i++): ?> 
            <i class="fas fa-star full"></i>
        <? endfor; ?> 
        <? if ($mark - floor ($mark) >= 0.5): ?> 
            <i class="fas fa-star-half-alt full"></i>
        <? endif; ?> 
        <? for ($i = ceil ($mark); $i < 5; $i++): ?>
            <i class="fas fa-star"></i>
        <? endfor; ?>
        <? if ($mark - ceil ($mark) >= 0.5): ?> 
            <i class="fas fa-star-half-alt full"></i>
        <? endif; ?> 
    <? else: ?> 
        <div class="rate_stars">
        <? for ($i = 0; $i < 5; $i++): ?> 
            <i class="far fa-star rate_book" data-mark="<?= $i + 1?>"></i>
        <? endfor; ?>
        </div> 
        <a href="" class="btn btn-primary btn-rate"> Оценить </a>
    <? endif; ?> 
<? else: ?> 
    <? for ($i = 0; $i < floor ($mark); $i++): ?> 
        <i class="fas fa-star full"></i>
    <? endfor; ?> 
    <? if ($mark - floor ($mark) >= 0.5): ?> 
        <i class="fas fa-star-half-alt full"></i>
    <? endif; ?> 
    <? for ($i = ceil ($mark); $i < 5; $i++): ?>
        <i class="fas fa-star"></i>
    <? endfor; ?>
<? endif; ?>