<label class="center">Форма регистрации</label>
<form class="clearfix center" action="" method="post">
    <?= isset ($errors['require']) ? $errors['login'] : '' ?>
    <fieldset><legend>Регистрационные данные</legend>
        <div class="form-row">
            <label>Логин<i class="require">*</i></label>
            <input class="full-width" type="text" name="login" required value="gg">
            <?= isset ($errors['login']) ? $errors['login'] : '' ?>
        </div>

        <div class="form-row">
            <div class="form-item">
                <label>Пароль<i class="require">*</i></label>
                <input type="password" name="password" required value="1234">
            </div>

            <div class="form-item">
                <label>Повторить пароль<i class="require">*</i></label>
                <input type="password" name="password_dub" required value="1234">
            </div>

            <i class="fas fa-eye"></i>

            <?= isset ($errors['password']) ? $errors['login'] : '' ?>
        </div>
    </fieldset>
    
    <fieldset><legend>Личные данные</legend>
        <div class="form-row">
            <div class="form-item">
                <label>Фамилия</label>
                <input type="text" name="fio" value="g_t">
            </div>
            
            <div class="form-item">
                <label>Имя</label>
                <input type="text" name="name" value="rt">
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-item">
                <label>Отчество</label>
                <input type="text" name="patronymic" value="erty">
            </div>

            <div class="form-item">
                <label>Дата рождения</label>
                <input type="text" name="date_birth" placeholder="В формате дд.мм.гггг" value="35.05.2015">
            </div>
        </div>

        <div class="form-row">
            <div class="form-item">
                <label>Телефон</label>
                <input type="text" name="phone" placeholder="+7 (123) 456-78-90" value="+7 (123) 456-78-90">
            </div>

            <div class="form-item">
                <label>E-mail<i class="require">*</i></label>
                <input type="text" name="email" placeholder="test@mail.ru" required value="fggtt@hhhjy.ru">
            </div>
        </div>
    </fieldset>

    <div class="form-row btn">
        <input id="btn" type="submit" value="Регистрация">
        <input id="btn-clear" type="reset" value="Сбросить">
    </div>
</form>