    <? foreach ($js_libs as $file): ?>
        <? if ($file != ''): ?>
            <script src="<?= LIBS.$file.'.js' ?>"></script>
        <? endif; ?>
    <? endforeach; ?>

    <? foreach ($js as $file): ?>
        <? if ($file != ''): ?>
            <script src="<?= JS.$file.'.js' ?>"></script>
        <? endif; ?>
    <? endforeach; ?>

    <? if (user_is_admin()): ?>
        <script src="<?= JS.'./authors.js' ?>"></script>
        <script src="<?= JS.'./pagination.js' ?>"></script>
    <? endif; ?>
    
    <? if (name() === 'reg'): ?>
        <script src="<?= JS.'form.js' ?>"></script>
    <? endif; ?>
</body>
</html>