* {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    color: #767272;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
}

.full { color: orange; }
.rate_book { cursor: pointer; }
.rate_stars { width: fit-content; }

.btn-link { padding: 0; height: fit-content; }
.btn-link > a { padding: 12px 18px; }

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.center-h {
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn-rate { color: white; cursor: pointer; }

.full-width { width: 100%; }
.require { color: red; }
.fa-eye { display: inline; color: red; }
.open-eye { color: green; }

form {
    width: 500px;
    padding: 30px;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 
                0 10px 10px rgba(0,0,0,.22);
}
input, textarea {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;	
    width: 140px;
}
input { width: 95%; }
fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;	

    margin-bottom: 15px;
}
legend {
    font-style: italic;
    font-size: 16px;
}

.form-row {
    display: block;
    padding: 10px;
}
.form-item {
    display: inline-block;
    max-width: 49%;
}
label {
    padding: 5px;
    font-size: 14px;
    display: block;
    width: 150px;
    color: black;
}

.checkbox { width: 30px; }
.mar { margin-bottom: 15px; }

.btn {
    display: inline-block; 
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn input {display: inline-block; width: 100px;}
.btn input:first-child { margin-right: 10px; }