<!-------------------------------- MAIN POST -------------------------------->
<main role="main" class="container">
    <!-------------  SECTION HEADER ------------->
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
        <img class="mr-3" src="../img/logo/logotip-m-800x800.jpg" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Форум / Общий раздел / <?= $section_name; ?></h6>
            <small class="mr-3">Комментариев: <?= $msg; ?></small>
            <small class="mr-3">Просмотров: <?= $view; ?></small>
            <small>Тем: <?= $themes_len; ?></small>
        </div>
    </div>
    <!------------- /. SECTION HEADER ------------->
    <!-------------------- CARD 1 --------------->
    <? foreach ($result['themes'] as $theme): ?>
        <?
            if ($theme['subtopic_publication_user_id'] == 'Администрация') { $color = 'card-item-blue'; }
            else { $color = 'card-item-yellow'; } 
        ?>
        <div class="my-3 p-3 bg-white rounded shadow card-item <?= $color; ?>">
            <h5 class="border-bottom border-gray pb-2 mb-0"><i class="far fa-comment-alt bd-placeholder-img p-2 small"></i><a href="#"><?= $theme['subtopic_title']; ?></a></h5>
            <!-------- CARD BOTTOM  -------->
            <div class="d-flex">
                <div class="text-muted p-1 small">Автор: <a class="px-1" href="#"><?= $theme['subtopic_publication_user_id']; ?></a></i></div>
                <div class="text-muted p-1 small"><i class="far fa-calendar-alt"> <?= $theme['subtopic_date']; ?></i></div>
                <div class="text-muted p-1 small">Комментариев: <?= $theme['subtopic_message']; ?></i></div>
                <div class="text-muted p-1 small"><i class="far fa-eye"> <?= $theme['subtopic_view']; ?></i></div>
                <div class="ml-auto p-1">
                    <?= $btn_edit; ?>
                    <?= $btn_delet; ?>
                </div>
            </div>
            <!------- /. CARD BOTTOM  ------->
        </div>
    <? endforeach; ?>
    <!--------------- /. CARD 1 -------------->
</main>
<!------------------------------- /. MAIN POST-->