<!DOCTYPE html> 
<html> 
<head>
    <title> <?= $title ?></title>
    <link rel="stylesheet" href="<?= LIBS.'bootstrap/css/bootstrap.css' ?>">
    <link rel="stylesheet" href="<?= LIBS.'fontawesome/css/all.css' ?>">
    <link rel="stylesheet" href="<?= CSS.'style.css' ?>">
</head> 

<body> 
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-nav">
            <? $url = DIR === '../' ? 'authors.php' : 'admin/authors.php'; ?>
            <a class="nav-item nav-link <?= ($title == 'Авторы')? 'active': '' ?>" href="<?= $url ?>">Авторы </a>
            <a class="nav-item nav-link <?= ($title == 'Книги')? 'active': '' ?>" href="books.php">Книги </a>
            <? if (!checkUserIsAuthorized()): ?>
                <a class="nav-item nav-link <?= ($title == 'Авторизация')? 'active': '' ?>" href="auth.php">Авторизация</a>
                <a class="nav-item nav-link <?= ($title == 'Регистрация')? 'active': '' ?>" href="reg.php">Регистрация</a>
            <? else: ?>
                <a class="nav-item nav-link" href="logout.php">Выход</a>
            <? endif; ?>
		</div>
	</nav>
		