<!DOCTYPE html>
<html lang="ru">
<head>
    <? foreach ($meta as $arr): ?>
        <meta <? foreach ($arr as $name => $value): ?>
            <?= $name . '="' . $value . '" ' ?>
        <? endforeach; ?>/>
    <? endforeach; ?>

    <title><?= $title ?></title>

    <? foreach ($libs as $file): ?>
        <link rel="stylesheet" href="<?= LIBS.$file.'.css' ?>">
    <? endforeach; ?>
    <? foreach ($fonts as $file): ?>
        <? if (!is_array ($file)): ?>
            <link rel="stylesheet" href="<?= $file.'.css' ?>">
        <? else: ?>
            <? foreach ($file as $link): ?>
                <link rel="stylesheet" href="<?= $link ?>">
            <? endforeach; ?>
        <? endif; ?>
    <? endforeach; ?>
    <? foreach ($css as $file): ?>
        <? if ($file != ''): ?>
            <link rel="stylesheet" href="<?= CSS.$file.'.css' ?>">
        <? endif; ?>
    <? endforeach; ?>
</head>

		