<div class="container">
	<div class="row"> 
		<? foreach ($books as $book): ?> 
			<div class="col-4">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title"><?= $book['book_name']; ?></h5>
					<p class="card-text"><?= $book['book_price']; ?></p>
					<a href="<?= BOOK_DIR ?>?id=<?= $book['id'] ?>" class="btn btn-primary">Подробнее</a>
				  </div>
				</div>
			</div> 
		<? endforeach ; ?>
	</div>
</div>