<!-------------------------------- MAIN POST -------------------------------->
<main role="main" class="container">
    <!----------------------------------------- POST ------------------------------------>
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="container px-0">
                <!----------------------------------------- Card post ------------------------------------>
                <? foreach ($Post as $Posts): ?>
                <div class="post card my-3 shadow">
                    <div class="cont p-3 bg-dark">
                        <div class="form-row">
                            <div class="col">
                                <h6 class="mb-0 text-white lh-100 py-2 pl-2"><?= $Posts['Date']; ?><span
                                        class="text-dark bg-white rounded-circle badge ml-2 p-1">#<?= $Posts['id']; ?></span></h6>
                            </div>
                            <div class="col text-right">
                                    <?= $btn_edit_green; ?>
                                    <?= $btn_delet_green; ?>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <!------------- /. post left -------------->
                        <div class="col-md-4 p-4">
                            <img src="../img/avatar/avatar-2.JPG" class="card-img card-img-forumAvatar" alt="...">
                            <p class="mt-2 pb-1 mb-0 lh-100"><?= $Posts['User']; ?></p>
                            <p class="media-body pb-2 mb-0 small lh-125">[<?= $Posts['UserStatus']; ?>] <i
                                    class="fas fa-circle green"></i></p>
                            <p class="media-body pb-1 mb-0 small lh-125">Опубликовано сообщений: <?= $Posts['PublishedPosts']; ?></p>
                            <p class="media-body pb-1 mb-0 small lh-125">Дано ответов: <?= $Posts['GivenAnswers']; ?></p>
                            <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <?= $Posts['Raiting']; ?>
                            </span>
                        </div>
                        <!------------- /. post left -------------->
                        <!------------- post body -------------->
                        <div class="postdetails col-md-8">
                            <div class="card-body">
                                <h4 class="card-title"><?= $Posts['Title']; ?></h4>
                                <p class="card-text">Друзья! <br>Хотите блеснуть остроумием и оригинальностью?
                                    Участвуйте в конкурсе пирожков! И не пугайтесь: он вовсе не кулинарный, а
                                    стихотворный.</p>
                                <h5 class="card-title">О пирожках</h5>
                                <ul>
                                    <li>Стишки-пирожки — это четверостишия, написанные четырехстопным ямбом по схеме
                                        9-8-9-8 (то есть по 9 слогов в первой и третьей строчках, по 8 слогов — во
                                        второй и четвертой).</li>
                                    <li>В пирожках нет рифмы, знаков препинания и дефисов.</li>
                                    <li>В пирожках можно нарушать правила орфографии.</li>
                                    <li>Пирожки состоят исключительно из строчных русских букв.</li>
                                </ul>
                                <p>Настоящий рай для тех, кому тесно в рамках формальной поэзии!</p>
                                <img src="../img/avatar/<?= $Posts['imgName']; ?>" alt="" width="550" height="550">
                                <h5 class="card-title">Правила конкурса</h5>
                                <ol>
                                    <li>Пирожки должны быть посвящены ArcheAge и опубликованы в специальной теме на
                                        форуме до 18:00 мск 26 февраля.</li>
                                    <li>Максимальное количество стишков от одного участника — 3.</li>
                                    <li>Пирожки должны быть написаны специально для этого конкурса.</li>
                                    <li>Дополнительное оформление работ (иллюстрации, комментарии и тому подобное)
                                        при подведении итогов не учитывается.</li>
                                    <li>Присылаемые работы не должны нарушать Правила Игры и законодательство РФ.
                                    </li>
                                    <li>Итоги конкурса будут подведены не позднее 1 марта.</li>
                                </ol>
                                <h5 class="card-title">Награды</h5>
                                <ul>
                                    <li>1–3-е места: набор «Покровительство Сиоль».</li>
                                    <li>4–10-е места: «Покровительство Сиоль» на 7 дней.</li>
                                </ul>
                                <div class="text-center pb-3">
                                    <button type="button" class="btn btn-success p-2 text-white"><a class="text-white" href="<?= $Posts['Url']; ?>">Участвовать</a></button>
                                </div>
                            </div>
                            <div class="postedit mt-3 p-3">
                                <p class="card-text"><small class="text-muted">Последние редактирование:
                                        CuriousCapybara [20.02.2019 11:03] Причина: добавлена информация о
                                        ямбе</small></p>
                            </div>
                        </div>
                        <!------------- /. post body -------------->
                        <!------------- post bottom -------------->
                        <div class="bg-light w-100 p-3 border-top border-gray">
                            <small class="mr-3">Пользователь зарегестрирован: <?= $Posts['UserRegistered']; ?></small>
                            <small class="mr-3">Раздел: Новости и объявления / Обновления игры</small>
                            <div class="text-right">
                                <small class="mr-3"><i class="fas fa-heart heart-like"></i> <?= $Posts['Likes']; ?></small>
                                <small class="mr-3"><i class="fas fa-heart-broken heart-diz"></i> <?= $Posts['Dislike']; ?></small>
                                <button type="button" class="btn btn-outline-dark btn-xs p-0 px-1">Ответить</button>
                            </div>
                        </div>
                        <!-------------/. Card bottom ------------->
                    </div>
                </div>
                <? endforeach; ?>
                <!-----------------------------------------/. Card post ------------------------------------>
