
                <!---------------------------------- ОСТАВИТЬ КОММЕНТАРИЙ ---------------------------------->
                <div class="comments-post-forum bg-white shadow mt-3">
                    <h6 class="mb-0 text-white lh-100 bg-dark py-2 pl-2">Оставить комментарий</h6>
                    <div class="media p-3 border-top border-dark">
                        <img class="bd-placeholder-img rounded-circle mr-3" src="../img/avatar/avatar-1.jpg" alt=""
                            width="64" height="64">
                        <div class="media-body">
                            <h5 class="m-0 mb-2">Curay72<sup><i class="fas fa-circle offline ml-1"></i></sup></h5>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="btn-comments-post text-right">
                                <button type="button" class="btn btn-secondary btn-sm">отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------ /. ОСТАВИТЬ КОММЕНТАРИЙ --------------------------------------->
            </main>
        </div>
    </div>
    <!-----------------------------------------/.  POST ------------------------------------>
</main>
<!------------------------------- /. MAIN POST-->